section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  /* font-family: Kaushan Script, sans-serif; */
  font-size: 60px;
  margin-bottom: 0;
}

h2 {
  font-size: 32px;
  font-weight: normal;
  color: var(--on-background-alt);
}

/* Home Section */
.title-group {
  text-align: center;
  max-width: 900px;
}

/* About Section */
.about-container {
  display: flex;
}

.about-title {
  margin-bottom: 60px;
}

.image-container {
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 20px;
  width: auto;
  background: var(--background);
  box-shadow: var(--box-shadow);
  text-align: center;
  transition: transform 200ms ease;
}

.image-container h2 {
  color: var(--dark);
}

img {
  height: 300px;
  width: 300px;
}

.image-container:hover {
  transform: translateY(-8px);
}

/* Projects Section */

.group-presentation {
  max-width: 600px;
  text-align: justify;
}

.group-number {
  margin-bottom: 30px;
}

p {
  margin: 0;
  line-height: 25px;
}

iframe {
  /* width="600"
  height="620" */
  width: 600px;
  height: 620px;
}

.game {
  margin-top: 60px;
}

/* Profiles */
.profiles {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

.profile-container {
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  display: flex;
  margin: 0 16px;
  transition: transform 200ms ease;
}

.profile-container:hover {
  transform: translateY(-8px);
}

.profile-photo {
  border-radius: 50%;
  border: 2px solid #fff;
  transition: filter 200ms ease;
  width: 120px;
  height: 120px;
}

.profile-container:hover .profile-photo {
  filter: grayscale(75%);
}

.profile-name {
  font-size: 22px;
  font-weight: bold;
  color: var(--dark);
}

.profile-desciption {
  color: var(--on-background);
}

.profile-contact {
  align-items: center;
  flex-direction: row;
  display: flex;
}

.profile-contact .fab {
  color: var(--primary-color);
  font-size: 50px;
  margin-right: 0px;
  padding: 10px;
}

/* Contact Section */
.fab:hover {
  color: var(--on-background);
}

.contact-section {
  background-color: var(--on-primary);
}

.contact-image {
  height: 450px;
  width: 100%;
  background-image: url("../img/banner_PC_no_text.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}

.contact-container {
  min-height: 300px;
  width: 100%;
  background-color: var(--on-primary);
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-text {
  align-items: center;
  flex-direction: column;
  display: flex;
}

.contact-text:not(:last-child) {
  margin-right: 180px;
}

.contact-text h3 {
  font-size: 30px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: var(--dark);
  height: 2px;
}

.copy-right {
  padding: 20px 0px 20px 0px;
}

@media screen and (max-width: 1225px) {
  img {
    height: 250px;
    width: 250px;
  }

  .image-container {
    margin-right: 15px;
  }
}

@media screen and (max-width: 1080px) {
  .image-container {
    padding: 0;
    width: auto;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 920px) {
  img {
    height: 200px;
    width: 200px;
  }

  .image-container {
    padding: 0;
    width: auto;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
}

@media screen and (max-width: 770px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 14px;
  }

  .about-container {
    flex-direction: column;
  }

  .image-container {
    margin: 20px 0px;
  }

  .buttons {
    margin: 20px 0px 40px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .buttons > button {
    margin-top: 20px;
  }

  iframe {
    width: 380px;
    height: 400px;
  }

  .group-presentation {
    max-width: 380px;
  }

  .contact-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .contact-text:not(:last-child) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 770px) {
  iframe {
    width: 340px;
    height: 400px;
  }

  .group-presentation {
    max-width: 340px;
  }
}
